.information {
  margin-bottom: 90px;
  a {
    color: var(--main-color);
  }

  .button {
    border: 1px solid var(--main-color);
  }
}

.information-map {
  border-radius: 25px;
  max-height: 720px;
  img {
    object-fit: cover;
  }
}

.information-content {
  display: flex;
  flex-direction: row;
}

.information-block {
  position: relative;
  width: 360px;
  height: 360px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color);
  border: 1px solid var(--main-color);
  border-radius: 25px;
}

.information-block h6 {
  position: absolute;
  display: block;
  color: var(--main-color);
  left: 25%;
  top: 25%;
  text-align: left;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.2s;
}

.information-block:hover h6 {
  opacity: 0;
}

#map {
  width: 720px;
  height: 720px;
  background: #d6d6d6;
}
