.programme {
  margin-bottom: 90px;
  img {
    padding: 0;
    height: 100%;
    object-fit: cover;
  }

  h3 {
    padding-bottom: 30px;
  }
}

.programme-call-to-action-button {
  padding: 15px 60px;
  background-color: var(--second-color);
  border-radius: 28px;
  margin: 30px;
  a {
    font-size: 24px;
    color: var(--main-color);
    font-weight: 500;
  }
}

.programme-call-to-action-button:hover {
  background-color: var(--main-color);
  border: 1px solid var(--second-color);

  a {
    color: var(--second-color);
  }
}
