.l-header-content {
  background-color: var(--second-color);
  padding: 15px 60px 90px;
}

.l-header-text {
  margin-top: 60px;
}

.l-header-nav {
  margin: 60px 0 90px;
  border-top: 1px solid var(--second-color);
  border-bottom: 1px solid var(--second-color);
}
